


    <div fxLayout="row" fxLayoutWrap  fxLayoutGap="20px">
      <div *ngFor="let pd of data"  style="padding-left: 1%;padding-top: 5%">
      
        
     <mat-card class="example-card">
      
         <mat-card-header>
           <!-- <div mat-card-avatar class="example-header-image"></div> -->
          
                   <mat-card-title><h3>{{pd.name}}</h3></mat-card-title>
           
        
           <mat-card-subtitle>Start Date: {{pd.startDate| date :  "y-MM-dd"}}</mat-card-subtitle>
           <mat-card-subtitle>End Date  : {{pd.endDate| date :  "y-MM-dd"}}</mat-card-subtitle>
         </mat-card-header>
         <hr>
       
         <mat-card-content>
           <p>
           {{pd.role}}
           </p>
         </mat-card-content>
         <mat-card-actions>
          <button mat-button color="accent"  (click)="viewproject(pd.projectID)">Tasks</button>
        
      </mat-card-actions>
      
         
         </mat-card>
        
       </div>  </div>